.footerStyle {
  background-color: rgb(0, 83, 159);
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column; /* Mostra gli elementi come colonna */
  padding: 10px; /* Aggiunge spaziatura interna per una migliore estetica */
}

.footer-logo-column {
  display: flex;
  align-items: center; /* Centra verticalmente gli elementi figli */
}

.footer-logo {
  width: 6%;
}

/* Stile per il testo nel footer */
.footer-text {
  color: white;
  margin: 0;
  text-align: center; /* Allinea il testo al centro */
}
