body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; // Nasconde l'inutile scrollbar orizzontale
} // modificato per mantenerlo ai piedi del body, invece che sovrapposto e in colonne per gestire logo e testo separatamente

.footerStyle {
  background-color: #bb2e29;
  width: 100%;
  padding: 0.4%;
  margin-top: auto;
  margin-top: 0.5%;
}

.footer-logo-column {
  display: flex;
  align-items: center;
}

//monogramma ad effetto girandola
.footer-logo {
  width: 6%;
  transition: transform 0.5s ease;
}

.footer-logo:hover {
  transform: rotate(720deg);
}

.footer-logo.clicked {
  animation: spin 1s ease;
}

.footer-text {
  color: white;
  margin: 0;
  text-align: center;
}
